{% extends 'core/base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>
                        {% block title %}{% endblock %}
                    </title>
                    {% block htmlhead %}
                    {% load static %}
                    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
                    {% endblock htmlhead %}
                    </head>
                    <body>
                        {% block content %}
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-indicators">
                                    <button
                                        type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0"
                                        class="active"
                                        aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button
                                        type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button
                                        type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img
                                            src="https://www.cityofirvine.org/sites/default/files/styles/large_feature_image/public/feature_images/2023-Athletics-Sports%20Committee-%20-960x500%20Web%20Graphic%20%28Carousel%29.jpg?itok=NQtcR32D"
                                            class="d-block h-40  mx-auto"
                                            alt="..."></div>
                                        <div class="carousel-item">
                                            <img
                                                src="https://media.istockphoto.com/id/949190756/photo/various-sport-equipments-on-grass.jpg?s=612x612&w=0&k=20&c=s0Lz_k0Vq_9P6JBETBMtLsK0lSKEHg4Tnqz9KlRCSHA="
                                                class="d-block 100rem mx-auto"
                                                alt="..."></div>
                                            <div class="carousel-item">
                                                <img
                                                    src="https://t4.ftcdn.net/jpg/02/57/62/23/240_F_257622374_dJI8M6MQSlqUXhAmBis0hNEC6Av5kb2E.jpg"
                                                    class="d-block 100rem mx-auto"
                                                    alt="..."></div>
                                            </div>
                                            <button
                                                class="carousel-control-prev"
                                                type="button"
                                                data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button
                                                class="carousel-control-next"
                                                type="button"
                                                data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                        <a
                                            class="weatherwidget-io"
                                            href="https://forecast7.com/en/18d0042d98/arab/"
                                            data-label_1="ARAB"
                                            data-label_2="WEATHER"
                                            data-theme="original">ARAB WEATHER</a>
                                        <br>
                                        <center>
                                            <h3>UPDATE NEWS
                                            </h3>
                                        </center>
                                        <br>
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <br>
                                                    <img
                                                        src="https://t4.ftcdn.net/jpg/00/04/43/79/360_F_4437974_DbE4NRiaoRUeivMyfPoXZFNdCnYmjPq.jpg"
                                                        class=" img-a 40rem"
                                                        width="550rem"
                                                        alt="Berita"></div>
                                                    <div class="col">
                                                        <h4>Bola</h4>
                                                        <p>
                                                            Adalah James Naismith yang mencatatkan namanya dalam sejarah sebagai pencetus
                                                            permainan bola basket ini. Awalnya ide tersebut muncul karena saat musim dingin,
                                                            banyak permainan olahraga yang tidak bisa dilakukan oleh para muridnya.
                                                            Keinginannya untuk membuat sebuah permainan yang dapat dimainkan di dalam
                                                            ruangan tertutup, menggerakannya untuk membuat permainan bola basket. Profesinya
                                                            sebagai instruktur pendidikan jasmani di perguruan tinggi Springfield College
                                                            yang terletak di Massachusetts, Amerika Serikat, memudahkan Naismith untuk terus
                                                            berinovasi dalam olahraga hasil kreasinya tersebut. Di permulaannya, tahun 1891,
                                                            permainan bola basket dilakukan menggunakan bola sepak. Jadi tidak langsung
                                                            menggunakan bola basket seperti sekarang ini. Saat itu, Naismith merancang
                                                            permainan bola basket dengan cara melemparkan bola ke dalam keranjang buah
                                                            persik. Keranjang yang digantungkan di tembok di gedung olahraga tersebut
                                                            menjadi penentu skor. Jumlah pemainnya pun setiap tim terdiri dari sembilan
                                                            orang.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- New Grid Title -->
                                            <div class="container text-center">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card mb-3" style="max-width: 540px;">
                                                            <div class="row g-0">
                                                                <div class="col-md-4">
                                                                    <img
                                                                        src="https://cdn-1.timesmedia.co.id/images/2022/09/21/Stadion-GBLA.jpg"
                                                                        class="img-fluid rounded-start"
                                                                        alt="..."></div>
                                                                    <div class="col-md-8">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">GBLA</h5>
                                                                            <p class="card-text">Stadion Gelora Bandung Lautan Api berada tepat di cekungan Danau Purba Bandung yang tanahnya mudah amblas & dibangun setinggi 5 meter dari permukaan tanah. Namun karena lahan yang digunakan lunak, ketinggian akan turun 1,7 meter hingga ketinggiannya menjadi 3,3 meter.</p>
                                                                            <p class="card-text">
                                                                                <small class="text-body-secondary">Last updated 3 mins ago</small>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="card mb-3" style="max-width: 540px;">
                                                                <div class="row g-0">
                                                                    <div class="col-md-4">
                                                                        <img
                                                                            src="https://asset.kompas.com/crops/6_t-Picdvt3Y0RSIfiew271pKhI=/2x0:1595x1062/750x500/data/photo/2021/12/15/61b9e2d6800b2.jpeg"
                                                                            class="img-fluid rounded-start"
                                                                            alt="..."></div>
                                                                        <div class="col-md-8">
                                                                            <div class="card-body">
                                                                                <h5 class="card-title">GBK</h5>
                                                                                <p class="card-text">asketball Hall Gelora Bung Karno is an international standard indoor sporting arena with iron construction and a height of 15 m. This sport arena is perfect for a variety of sports and non sport activities. Basketball Hall Gelora Bung Karno is equipped with sufficient lighting and seating capacity reaches ± 2.500 seats.</p>
                                                                                <p class="card-text">
                                                                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <!-- Card Title Again -->
                                                    <div class="container text-center">
                                                        <div class="row">
                                                          <div class="col">
                                                            <div class="card" style="width: 18rem;">
                                                                <img src="https://www.si.com/.image/t_share/MTczMzYxMjQzODkxOTY3ODk3/x163129_tk1_00818.jpg" class="card-img-top" alt="...">
                                                                <div class="card-body">
                                                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                </div>
                                                              </div>
                                                          </div>
                                                          <div class="col">
                                                            <div class="card" style="width: 18rem;">
                                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJCXQxjMEUj40hDn-v0bGEaQIbbf2mcDKtYA&usqp=CAU" class="card-img-top" alt="...">
                                                                <div class="card-body">
                                                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                </div>
                                                              </div>
                                                          </div>
                                                          <div class="col">
                                                            <div class="card" style="width: 18rem;">
                                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_jSYfq9AR9VddrcNwAYTW1XvG8mQJXJoKqQ&usqp=CAU" class="card-img-top" alt="...">
                                                                <div class="card-body">
                                                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                </div>
                                                              </div>
                                                          </div>
                                                        </div>
                                                      </div>


                                                    <!-- Site footer -->
                                                
                                                    <footer class="site-footer">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-6">
                                                                    <h6>About</h6>
                                                                    <p class="text-justify">Scanfcode.com
                                                                        <i>CODE WANTS TO BE SIMPLE
                                                                        </i>
                                                                        is an initiative to help the upcoming programmers with the code. Scanfcode
                                                                        focuses on providing the most efficient code or snippets as the code wants to be
                                                                        simple. We will help programmers build up concepts in different programming
                                                                        languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP,
                                                                        Android, SQL and Algorithm.</p>
                                                                </div>

                                                                <div class="col-xs-6 col-md-3">
                                                                    <h6>Categories</h6>
                                                                    <ul class="footer-links">
                                                                        <li>
                                                                            <a href="http://scanfcode.com/category/c-language/">C</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/category/front-end-development/">UI Design</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/category/back-end-development/">PHP</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/category/java-programming-language/">Java</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/category/android/">Android</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/category/templates/">Templates</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                                <div class="col-xs-6 col-md-3">
                                                                    <h6>Quick Links</h6>
                                                                    <ul class="footer-links">
                                                                        <li>
                                                                            <a href="http://scanfcode.com/about/">About Us</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/contact/">Contact Us</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://scanfcode.com/sitemap/">Sitemap</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <hr></div>
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                                                        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                                                                            <a href="#">Scanfcode</a>.
                                                                        </p>
                                                                    </div>

                                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                                        <ul class="social-icons">
                                                                            <li>
                                                                                <a class="facebook" href="#">
                                                                                    <i class="fa fa-facebook"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a class="twitter" href="#">
                                                                                    <i class="fa fa-twitter"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a class="dribbble" href="#">
                                                                                    <i class="fa fa-dribbble"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a class="linkedin" href="#">
                                                                                    <i class="fa fa-linkedin"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                        </footer>

                                                        <script>
                                                            !function (d, s, id) {
                                                                var js,
                                                                    fjs = d.getElementsByTagName(s)[0];
                                                                if (!d.getElementById(id)) {
                                                                    js = d.createElement(s);
                                                                    js.id = id;
                                                                    js.src = 'https://weatherwidget.io/js/widget.min.js';
                                                                    fjs
                                                                        .parentNode
                                                                        .insertBefore(js, fjs);
                                                                }
                                                            }(document, 'script', 'weatherwidget-io-js');
                                                        </script>
                                                    {% endblock %}

                                                </body>
                                            </html>